{% extends 'base.html.twig' %}

{% block title %}All categories
{% endblock %}

{% block body %}
	<h1>Toutes les catégories:
	</h1>
	{% for category in categories %}
		<div>
			<h2>{{ loop.index }}
				/
				{{ category.name}}
			<a href="{{ path("category_show", { name: category.name }) }}">Voir les séries dans cette catégorie</a>
		</div>
	{% else %}
		Aucune catégorie trouvée.
	{% endfor %}
	<a href="{{ path('category_new') }}">
		Ajouter un categorie
	</a>
	<a href="{{ path('app_index') }}">
		Retour à l'accueil
	</a>
{% endblock %}